<form id="submit">
    <input type="hidden" class="form-control" id="mahasiswa" name="mahasiswa" readonly>

    <div class="form-group">
        <label>Jurusan</label>
        <select class="form-control" name="matkul" id="matkul" required>
            <option value=""> Pilih matakuliah </option>
            <th:block th:each="m : ${matkul}">
                <option th:each="text : ${m.namamatkul}" th:value="${m.id}" th:text="${m.namamatkul}" />
            </th:block>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
$("#mahasiswa").val(id_mhs_global);
function resfreshtable(){
       $.ajax({
			data: {id:id_mhs_global},
			type: "GET",
			url: "/setmatkul/dapatkuliahbymhs",
			success: function(dataResult){
			    var html = "";
                dataResult.forEach(function(obj) {
                    html += "<tr><td>"+obj.nama+"</td><td>"+obj.namamatkul+" <button onclick='deletedata("+obj.id+")' class='btn btn-sm btn-danger'>Delete</button></td></tr>";
                });
                $("#table-body").html(html);
				$("#table-mhs").DataTable();
			}
		});
    }

    $("#submit").on("submit", function(e){
        e.preventDefault();
        var mahasiswa = $("#mahasiswa").val();
        var matkul = $("#matkul").val();
        $.ajax({
                    url: '/setmatkul/addmatkul',
                    type: 'post',
                    data: JSON.stringify({
                        "mahasiswa" : mahasiswa,
                        "matkul" : matkul
                    }),
                    contentType: "application/json",
                    dataType: "json",
                    success: function(data) {
                        console.log(data);
                        $("#exampleModal").modal("toggle");
                        resfreshtable();
                    }
                });
    })

    $("#jurusan").change(function(e){
        var id = $("#jurusan option:selected").attr("myTag");
        $("#fakultas").val(id);
    });

    function deletedata(id){
        $.ajax({
			data: {id:id},
			type: "GET",
			url: "/setmatkul/deletemhs",
			success: function(dataResult){
			    resfreshtable();
			}
		});
    }

function movepage(url, id){
    id_mhs_global = id
    $("#data-page").load(url);
}

</script>