<h4>Welcome to home</h4>
<p>Please do CRUD for Mahasiswa Tables</p>
<div class="card">
    <div class="card-header">
        <h5>Table Mahasiswa</h5>
    </div>
    <div class="card-body">
        <table id="table-mhs" class="table">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Jurusan</th>
                    <th>Fakultas</th>
                </tr>
            </thead>

        </table>
    </div>
</div>

<script>
$(document).ready( function () {
	  var table = $('#table-mhs').DataTable({
			"sAjaxSource": "http://localhost:8080/setmatkul/dapatsiswa",
			"sAjaxDataProp": "",
			"order": [[ 0, "asc" ]],
			"aoColumns": [
			      { "data": "nama"},
		          { "data": "nama" },
				  { "data": "nama" }
			]
	 });
});
</script>