<h4>Set Matkul</h4>
<p>Welcome <span th:text="${mhs.nama}"></span></p>
<button class="btn btn-sm btn-primary mb-1" onclick="openmodal('/addmatkulform')">Add Matakuliah</button>
<button class="btn btn-sm btn-warning mb-1" onclick="movepage('/home')">Back</button>
<div class="card">
    <div class="card-header">
        <h5>Table Matakuliah</h5>
    </div>
    <div class="card-body">
        <table id="table-mhs" class="table">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Mata Kuliah</th>
                </tr>
            </thead>
            <tbody id="table-body">

            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready( function () {
    function resfreshtable(){
        $.ajax({
			data: {id:id_mhs_global},
			type: "GET",
			url: "/setmatkul/dapatkuliahbymhs",
			success: function(dataResult){
			    var html = "";
                dataResult.forEach(function(obj) {
                    html += "<tr><td>"+obj.nama+"</td><td>"+obj.namamatkul+" <button onclick='deletedata("+obj.id+")' class='btn btn-sm btn-danger'>Delete</button></td></tr>";
                });
                $("#table-body").html(html);
				$("#table-mhs").DataTable();
			}
		});
    }
	resfreshtable();
});

function openmodal(url){
    $("#exampleModal").modal("toggle");
    $(".modal-body").load(url);
}

function deletedata(id){
        $.ajax({
			data: {id:id},
			type: "GET",
			url: "/mahasiswa/deletemhs",
			success: function(dataResult){
			    resfreshtable();
			}
		});
    }

function movepage(url){
    $("#data-page").load(url);
}
</script>